.classement-table {
    margin-top: 20px;
    font-size: 1.1rem;
}

.classement-table th {
    border-bottom: 2px solid #1565C0;
}

.separator {
    color: #ccc;
    width: 10px;
}

/* Podium */
.first-place {
    background-color: #e8f5e9;
    font-weight: bold;
}

.second-place {
    /*background-color: #f5f5f5;*/
    background-color: #e8f5e9;
}

.third-place {
    /*background-color: #fff3e0;*/
    background-color: #e8f5e9;
}

/* Hover */
.classement-table tbody tr:hover {
    background-color: #e3f2fd;
}

.col-reference {
        /*background-color: #ffcdd2 !important;  /* rouge très doux */
        font-weight: bold !important;
        /*color : #f07a86 !important;*/
        color : blue !important;
}

.line-reference {
        /*background-color: #ffcdd2 !important;  /* rouge très doux */
        font-weight: bold !important;
        color : blue !important;
       
}

.line-reference td,
.line-reference td strong {
    font-weight: bold !important;
    color: blue !important;
}